@import "../Index.scss";
.signpageContainer {
	display: flex;
	height: 100dvh;
	width: 100%;
	@include mobile {
		flex-direction: column;
		// height: 140dvh;
		height: max-content;
	}
	.leftpartContainer {
		flex: 1;
		clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
		background-color: #4285f4;
		// border: 1px red solid;

		.lpc {
			display: flex;
			flex-direction: column;
			align-items: center;
			height: 90%;
			width: 90%;
			margin: 5%;
			justify-content: space-between;
			color: white;
			font-weight: bold;
			// border: 1px red solid;
			div {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				// border: 1px red solid;
			}
			& > :nth-child(1) {
				// Logo txt
				justify-content: start;
			}
			& > :nth-child(2) {
				// board txt
				font-size: 2.25rem;
			}
			& > :nth-child(3) {
				// logos
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 25px;
				@include mobile {
					gap: 15px;
				}
				@include tablet {
					gap: 15px;
				}
				a {
					text-decoration: none;
					color: inherit;
				}
			}
		}
	}
	.rightpartcontainer {
		flex: 1;
		border-left: 3px #4285f4 solid;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		// border: 1px red solid;

		div.cl-internal-18aek0g {
			display: none;
		}
		div.cl-internal-b3fm6y {
			display: none;
		}
		.customSigntag {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 10px;
			a {
				text-decoration: none;
				color: #1967e3;
			}
		}
	}
}
